.address-box {
  position: relative;
  padding: 10px 20px 20px;
  width: 48%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  .default-address-label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px 20px 3px 10px;
    color: white;
    background-color: #4a7cc2;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .address-data {
    position: relative;

    .address-title {
      padding-top: 20px;
    }

    .set-default-address-links {
      font-size: 14px;
      color: #4a7cc2;
      cursor: pointer;
    }

    .address-buttons {
      position: absolute;
      top: 15px;
      right: 0;

      .edit-button, .delete-button {
        cursor: pointer;
  
        .trash-icon {
          width: 24px;
          height: 24px;
        }
      }
    }

    
  }

  

  

  
}