.collections-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 80px;
}

.collection-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
