@import '../../../style/colors';

.yoga-style-button {
  display: flex;
  justify-content: center;
  width: auto;
  padding: 8px 35px;
  border: 1px solid $brand-color-light;
  background-color: $brand-color-light;
  color: $white;
  font-family: inherit;
  font-size: 1em;
  letter-spacing: .5px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    border: 1px solid $brand-color;
    background-color: $white;
    color: $brand-color;
  }

  &.google-sign-in {
    background-color: $google-blue-light;
    color: $white;

    &:hover {
      border: 0;
      background-color: $google-blue-dark;
    }
  }

  &.inverted {
    border: 1px solid $black;
    background-color: $white;
    color: $black;

    &:hover {
      border: 0;
      background-color: $black;
      color: $white;
    }
  }

  &:disabled {
    border: 0;
    background-color: #cccccc;
    color: $white;
    cursor: default;
  }
}
