@import '../../style/colors';
@import '../../style/variables';
@import '../../style/mixins';

.collection-item {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  min-width: 50%;
  height: 240px;
  margin: 0 7.5px 15px;
  overflow: hidden;
  border: 1px solid $black;

  @include respond-between($tablet-breakpoint, $laptop-breakpoint) {
    min-width: 40%;
  }

  @include respond-above($laptop-breakpoint) {
    min-width: 30%;
  }

  &:hover {
    cursor: pointer;

    .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(.25, .45, .45, .95);
    }

    .content {
      opacity: .9;
    }
  }

  &.large {
    height: 380px;
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .background-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }

  .content {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90px;
    padding: 0 25px;
    border: 1px solid $black;
    opacity: .7;
    background-color: $white;

    .title {
      margin-bottom: 6px;
      color: $menu-item-title-color;
      font-size: 22px;
      font-weight: bold;
    }

    .subtitle {
      font-size: 16px;
      font-weight: lighter;
    }
  }
}
