@import '../../style/variables';
@import '../../style/colors';
@import '../../style/mixins';

.article-box {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px;

  @include respond-above($tablet-breakpoint) {
    max-width: 400px;
  }

  h2 {
    margin-bottom: 5px;
  }

  .article-image-box {
    width: 100%;

    img {
      border: 1px solid $sub-color-light-gray;
    }
  }

  .article-text-box {
    padding-top: 10px;
    text-align: justify;

    &:hover {
      color: $sub-color;
    }
  }
}
