@import '../../../style/colors';
@import '../../../style/variables';

  .vertical-nav-menu-container {
    position: fixed;
    z-index: 23;
    top: 0;
    left: 0;
    width: 270px;
    height: 100vh;
    padding-bottom: 50px;
    background: $admin-nav-bg-color;
    box-shadow: 0 12px 25px RGB(80 143 244 / 30%);
    font-family: $admin-font;

    .admin-page-title {
      padding-top: 30px;
      color: #4a7cc2;
    }

    .sidebar_menu > li {
      margin-right: 20px;
      margin-left: 0;
    }

    .sidebar_menu > li > a {
      display: grid;
      position: relative;
      grid-template-columns: 34px auto;
      grid-gap: 15px;
      align-items: center;
      color: $gray;
      font-size: 18px;
      font-weight: 400;
      padding: 0 25px 0 0;
      margin-top: 25px;
      margin-left: 30px;
      transition: .3s;

      :hover {
        color: $brand-color;
      } 

      .icon-menu {
        width: 34px;
        height: 34px;
        text-align: center;
        line-height: 32px;
  
        .dashboard-icon {
          fill: $main-color;
          vertical-align: middle;
        }
      }
  
      span {
        text-align: left;
      }
  
    }
  }


  // .main-content {
  //   width: 100%;
  //   padding-top: 0!important;
  //   transition: .5s;
  //   position: fixed;
  //   min-height: 100vh;
  //   padding-bottom: 80px;
  //   overflow: hidden;

    
  // }

  




