@import '../../../style/colors';
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search-form {
  width: 100%;
  position: relative;
  display: flex;

  .search-term {
    width: 100%;
    border: 1px solid $main-color;
    border-right: none;
    padding: 5px;
    margin: 0;
    height: 25px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
    font-family: 'Open Sans', sans-serif;
  }

  .search-term:focus {
    color: $main-color;
  }

  .search-button {
    width: 40px;
    height: 25px;
    border: 1px solid $main-color;
    text-align: center;
    color: $white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
}
