@import '../../../style/colors';

.yoga-style-input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 5px 0;

  .yoga-style-label {
    display: block;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
  }

  .yoga-style-input {
    display: block;
    width: 100%;
    height: 40px;
    margin: 5px 0;
    padding: 0 10px;
    border: 1px solid $yoga-style-input-border-color;
    border-radius: 5px;
    background-color: $yoga-style-input-background-color;
    font-size: 14px;
    font-weight: 300;

    &:focus-visible {
      outline: 1px solid $brand-color-light;
    }

    &[type="file"] {
      appearance: none;
    }
  }

  .file {
    display: inline-block;
    position: relative;
    height: 40px;
    cursor: pointer;

    input {
      min-width: 14rem;
      margin: 0;
      opacity: 0;
      filter: alpha(opacity = 0);
    }
  }

  .file-custom {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    left: 0;
    height: 2.5rem;
    padding: .5rem 1rem;
    border: .075rem solid $file-custom-border-color;
    border-radius: .25rem;
    background-color: $white;
    box-shadow: inset 0 .2rem .4rem $file-custom-box-shadow-color;
    color: $file-custom-font-color;
    line-height: 1.5;
    user-select: none;

    &::before {
      content: 'Browse';
      display: block;
      position: absolute;
      z-index: 6;
      top: -.075rem;
      right: -.075rem;
      bottom: -.075rem;
      padding: .4rem 1rem;
      border: .075rem solid $file-custom-border-color;
      border-radius: 0 5px 5px 0;
      background-color: $very-light-gray;
      color: $file-custom-font-color;
      line-height: 1.5;
    }

    &::after {
      content: 'Choose file...';
    }
  }
}
