@import '../../../../style/colors';

.manage-collections {
  display: flex;
  top: 0;
  left: 270px;
  flex-wrap: wrap;
  width: 100%;

  .page-title {
    width: 100%;
    padding: 30px 0 30px 20px;
    color: $white;
  }

  .add-collection-button-container {
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    button {
      margin: 10px auto;
    }
  }

  .collections-list {
    width: 40%;
  }

  .add-edit-collection-section {
    display: flex;
    // align-items: center;
    justify-content: center;
    width: 60%;
    padding: 20px 40px;

    h2,
    h3,
    h4 {
      width: 60%;
      margin: auto;
    }
  }
}
