@import '../../../../style/colors';

.edit-collection-container {
  display: flex;
  top: 0;
  left: 270px;
  flex-wrap: wrap;
  width: 100%;

  .page-title {
    width: 100%;
    padding: 30px 0 30px 20px;
    color: $white;
  }

  .edit-collection-form-container {
    width: 100%;
    margin-top: 60px;

    .checkbox-description {
      font-size: .9em;
    }

    .error-message-container {
      margin-top: 30px;
    }

    .buttons-container {
      display: flex;
      justify-content: flex-start;

      .edit-collection-button,
      .cancel-edit-collection-button {
        width: 150px;
        margin-top: 30px;
      }

      .cancel-edit-collection-button {
        margin-left: 30px;
      }
    }
  }
}
