@import '../../style/variables';
@import '../../style/mixins';
@import '../../style/colors';

.feature-box {
  display: flex;
  flex-direction: row;
  padding: 55px 20px;

  .feature-image-box {
    width: 240px;
    height: 240px;

    @include respond-between($laptop-breakpoint, $desktop-breakpoint) {
      width: 180px;
      height: 180px;
    }

    img {
      height: auto;
      margin-bottom: 10px;
      padding: 3px;
      border: 2px solid $brand-color-light;
      border-radius: 50%;
    }
  }

  .feature-text-box {
    max-width: 280px;
    padding: 0 0 0 20px;
    color: $brand-color-dark;
    line-height: 1.4rem;

    h3 {
      margin-top: 0;
      margin-bottom: 10px;
      color: $brand-color-light;
    }

    span:hover {
      color: $brand-color-light;

    }
  }
}
