@import '../../style/variables';
@import '../../style/mixins';

.feature-box {
  display: flex;
  flex-direction: row;
  padding: 55px 20px;

  .feature-image-box {
    width: 240px;
    height: 240px;

    @include respond-between($laptop-breakpoint, $desktop-breakpoint) {
      width: 180px;
      height: 180px;
    }

    img {
      border-radius: 50%;
    }
  }

  .feature-text-box {
    max-width: 280px;
    padding: 0 0 0 20px;

    h3 {
      margin-top: 0;
    }
  }
}
