$lfs-blue: #006ac6;
$lfs-yellow: #fab700;
$lfs-grey: #75787b;
$font-primary: 'Poppins',Arial, sans-serif;
$primary: #99b19c;

.manage-products {
  width: 100%;
  top: 0;
  left: 270px;
  display: flex;
  flex-wrap: wrap;

  .page-title {
    width: 100%;
    padding: 30px 0 30px 20px;
    color: #fff;
  }

  .products-controllers {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .search-wrapper {
      width: 200px;
      
    }
  }
}


.table-container {
  width: 100%;
  padding: 20px 40px;

  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
  }

  caption {
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: $lfs-yellow;
    text-align: center;
  }
  
  thead {
    border-top: 2px solid $lfs-yellow;
    border-bottom: 2px solid $lfs-yellow;
    th {
        text-transform: uppercase;
        text-align: center;
        padding: 10px;
        color: $lfs-blue;
        border: 1px solid #F1F1F1;
    }
  }

  tbody {
    tr {
        border-bottom: 1px solid #F1F1F1;
        color: $lfs-grey;
        td {
            padding: 10px;
            border: 1px solid #F1F1F1;
        }
        th {
            padding-left: 10px;
            border: 1px solid #F1F1F1;
        }
    }
  }
}
