@import '../../style/colors';

.single-collection-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

  .title {
    margin-bottom: 25px;
    color: $main-color;
    font-size: 28px;
  }

  .teaser-text-container {
    color: $brand-color-light;

    .shop-link {
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }

  .products-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    width: 90%;
  }
}
