@import '../../style/colors';

.checkout-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  margin: 30px auto;

  .checkout-steps-pages {
    height: 400px;
    margin-top: 50px;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-top: 50px;
  }

  .button-style {
    padding: 8px;
    border: 0;
    border-radius: 4px;
    background: $brand-color-light;
    color: $white;
    cursor: pointer;

    &:active {
      transform: scale(.98);
    }

    &:disabled {
      background: #f3e7f3;
      color: $black;
      cursor: not-allowed;
    }
  }
}
