@import '../../style/colors';
@import '../../style/mixins';

.header {
  display: flex;
  z-index: 1000;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  margin-bottom: 25px;
  background-color: $white;
  box-shadow: 0 2px 5px 0 $box-shadow-color;

  .logo-container {
    display: flex;
    align-items: center;
    width: 100px;
    height: 100%;

    svg {
      width: 70px;
      height: auto;
      margin: 0 auto;
      fill: $brand-color;
    }
  }

  .menu-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .menu-toggle:checked ~ .nav-links-container .nav-link {
    height: 2.5em;
    padding: .5em;
    transition: height 400ms cubic-bezier(.23, 1, .32, 1);
  }

  .menu-toggle:checked ~ .nav-links-container .nav-link:not(:last-child) {
    border-bottom: 1px solid $sub-color;

    @include respond-above($tablet-breakpoint) {
      border: 0;
    }
  }

  .menu-toggle {
    display: none;

    ~ .nav-links-container .nav-link {
      height: 0;
      margin: 0;
      padding: 0;
      transition: height 400ms cubic-bezier(.23, 1, .32, 1);
      border: 0;

      @include respond-above($tablet-breakpoint) {
        padding: 10px 15px;
      }
    }
  }

  .menu-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 100%;
    cursor: pointer;

    @include respond-above($tablet-breakpoint) {
      display: none;
    }

    .menu-button,
    .menu-button::before,
    .menu-button::after {
      display: block;
      position: absolute;
      width: 25px;
      height: 4px;
      transition: transform 400ms cubic-bezier(.23, 1, .32, 1);
      border-radius: 2px;
      background-color: $brand-color;
    }

    .menu-button::before {
      content: '';
      margin-top: -8px;
    }

    .menu-button::after {
      content: '';
      margin-top: 8px;
    }
  }

  .menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0;
    transform: rotate(405deg);
  }

  .menu-toggle:checked + .menu-button-container .menu-button {
    background: $white-transparent;
  }

  .menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0;
    transform: rotate(-405deg);
  }

  .nav-links-container {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 70px;

    @include respond-above($tablet-breakpoint) {
      display: flex;
      position: static;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      height: 100%;
      margin-top: 0;
      border: 0;
    }

    > .nav-link {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0 1rem;
      padding: .5em 0;
      overflow: hidden;
      background-color: $brand-color;
      color: $white;
      cursor: pointer;

      @include respond-above($tablet-breakpoint) {
        align-items: center;
        width: fit-content;
        height: 100%;
        overflow: visible;
        background-color: inherit;
        color: $brand-color;
      }
    }
  }
}
