$main-font: 'Open Sans Condensed', sans-serif;
$admin-font: 'Open Sans', sans-serif;
$add-font: 'Montserrat', sans-serif;

$border-rad: .3rem;

$phone-breakpoint:    0;
$phone-width:         100%;
$tablet-breakpoint:   768px;
$tablet-width:        720px;
$laptop-breakpoint:   992px;
$laptop-width:        960px;
$desktop-breakpoint: 1200px;
$desktop-width:      1140px;

$phone:             '(min-width: #{$phone-breakpoint})   and (max-width: #{$tablet-breakpoint - 1})';
$tablet:            '(min-width: #{$tablet-breakpoint})  and (max-width: #{$laptop-breakpoint - 1})';
$laptop:            '(min-width: #{$laptop-breakpoint})  and (max-width: #{$desktop-breakpoint - 1})';
$desktop:           '(min-width: #{$desktop-breakpoint})';

$phone-to-tablet:   '(min-width: #{$phone-breakpoint})    and (max-width: #{$laptop-breakpoint - 1})';
$phone-to-laptop:   '(min-width: #{$phone-breakpoint})    and (max-width: #{$desktop-breakpoint - 1})';
$tablet-to-laptop:  '(min-width: #{$tablet-breakpoint})   and (max-width: #{$desktop-breakpoint - 1})';
$tablet-to-desktop: '(min-width: #{$tablet-breakpoint})';
$laptop-to-desktop: '(min-width: #{$laptop-breakpoint})';
