$main-font: 'Open Sans Condensed', sans-serif;
$admin-font: 'Open Sans', sans-serif;

$white: #fff;
$black: #000;
$red: #f00;

$menu-item-title-color: #4a4a4a;
$error-image-text-color: #2f8e89;
$carousel-shadow: #2e3d49;

$spinner-container-border-color: #c3c3c3;
$spinner-container-border-top-color: #636767;

$gray: #808080;
$yellow: #fff700;
$error-color: #f00;
$error-bg-color: #fda49a;
$disabled-bg-color: #c6c6c6;

$bg-color: #f8f8f8;
$border-color: #ccc;

$sub-color: $gray;
$main-color: #26466d;
$brand-color: #26466d;


$google-blue-light: #4285f4;
$google-blue-dark: #357ae8;

$border-rad: .3rem;