@import './variables';
@import './transition';

body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  font-family: $main-font;

  @media screen and (max-width: 800px) {
    // padding: 10px;
  }
}

a {
  color: $black;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.bold {
  font-weight: 700;
}

input {
  font-size: 16px;
  padding: 5px;
  margin: 10px;
}

label {
  font-size: 18px;
  text-align: left;
}

.flex {
  display: flex;
  align-items: center;
}

button {
  padding: 5px;
  width: 100px;
  border-radius: 2px;
}

hr {
  width: 100%;
}

.error-color {
  color: $error-color;
}

ul, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
