@import './variables';
@import './transition';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  font-family: $main-font;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $main-font;
  background-color: #f8f8f8;
  
  @media screen and (max-width: 800px) {
    // padding: 10px;
  }
}

a {
  color: $black;
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.bold {
  font-weight: 700;
}

input {
  font-size: 16px;
  padding: 5px;
  margin: 10px;
}

label {
  font-size: 18px;
  text-align: left;
}

.flex {
  display: flex;
  align-items: center;
}

button {
  padding: 5px;
  width: 100px;
  border-radius: 2px;
}

hr {
  width: 100%;
}

.error-color {
  color: $error-color;
}

ul, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.padding-top-bottom-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

table {
  border-collapse: collapse;
}

.capitalize-text {
  text-transform: capitalize;
}

.uppercase-text {
  text-transform: uppercase;
}