.select-collection {
  option {
    display: inline-block;

    &.capitalize-first {
      display: inline-block;
      text-transform: lowercase;
    }
    &.capitalize-first::first-letter {
      text-transform: uppercase;
    }
  }
}



