@import '../../../style/colors';

.alert-modal-container {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex: 1;
  justify-content: center;
  transition: opacity 500ms;
  background-color: $alert-modal-container-background-color;

  .modal-elements-container {
    position: relative;
    flex-direction: column;
    max-width: 500px;
    margin: 70px auto;
    padding: 10px 30px 20px;
    transition: all 5s ease-in-out;
    border-radius: 7px;
    border-color: $box-shadow-color;
    background-color: $white;
    // width: SCREEN_WIDTH * 0.9

    h1,
    h3 {
      color: $error-color;
    }

    .warning-message-list {
      margin: 10px 30px;

      li {
        list-style: disc;
      }
    }

    .buttons-box {
      display: flex;
      justify-content: center;

      button {
        align-items: center;
        width: 200px;
        min-width: 140px;
        margin: 5px;
        padding: 5px 20px;
        font-weight: 600;
        // text-transform: capitalize;

        span {
          line-height: 20px;
        }
      }

      .btn-type-cancel {
        border: 1px solid $sub-color;
        background-color: $white;
        color: $black;

        &:hover {
          border: 1px solid $sub-color;
          background-color: $sub-color;
          color: $white;
        }
      }

      .btn-type-warning {
        border: 1px solid $error-color;
        background-color: $error-color;
        color: $white;

        &:hover {
          border: 1px solid $warning-color;
          background-color: $warning-color;
          color: $white;
        }
      }
    }
  }
}
