@import '../../../style/colors';

.alert-modal-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  justify-content: center;
  flex: 1;

  .modal-elements-container {
    margin: 70px auto;
    padding: 10px 30px 20px;
    max-width: 500px;
    position: relative;
    transition: all 5s ease-in-out;
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.1);
    flex-direction: column;
    border-radius: 7px;
    // width: SCREEN_WIDTH * 0.9

    h1, h3 {
      color: $error-color;
    }

    .warning-message-list {
      margin: 10px 30px;

      li {
        list-style: disc;
      }
    }

    .buttons-box {
      display: flex;
      justify-content: center;

      button {
        margin: 5px;
        min-width: 140px;
        width: 200px;
        padding: 5px 20px;
        font-weight: 600;
        align-items: center;
        // text-transform: capitalize;

        span {
          line-height: 20px;
        }
      }

      .btn-type-cancel {
        background-color: $white;
        border: 1px solid $sub-color;
        color: black;

        &:hover {
          background-color: $sub-color;
          border: 1px solid $sub-color;
          color: $white;
        }
      }

      .btn-type-warning {
        background-color: $error-color;
        border: 1px solid $error-color;
        color: $white;

        &:hover {
          background-color: $warning-color;
          border: 1px solid $warning-color;
          color: $white;
        }
      }
    }
  }

  
}