@import '../../style/colors';
@import '../../style/mixins';

.footer-container {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  margin-top: auto;
  padding: 20px 20px 0;
  background-color: $main-color;
  color: $white;

  .info-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;

    @include respond-above($tablet-breakpoint) {
      flex-direction: row;
    }

    .options {
      display: flex;
      flex-direction: column;
      padding: 20px 40px;
      text-align: center;

      .subscribe-input {
        label {
          margin-top: 0;
          font-size: 1.1em;
          text-align: center;

          @include respond-above($tablet-breakpoint) {
            text-align: left;
          }
        }

        input {
          border-radius: 2px;
        }
      }

      .subscribe-button {
        background-color: $brand-color-light;

        &:hover {
          background-color: $brand-color-dark;
          color: $white;
        }
      }

      @include respond-above($tablet-breakpoint) {
        text-align: left;
      }
    }

    @include respond-above($tablet-breakpoint) {
      .newsletter-container {
        width: 350px;
      }
    }
  }

  a {
    margin: 5px 0;
    color: $white;
  }

  .owner-box {
    margin-top: auto;
    padding: 20px 0 0;
    border-top: .1px solid $sub-color;
  }
}
