@import '../../../../style/colors';

.color-data-row {
  border-bottom: 1px solid $black;

  td {
    padding: 15px;

    .color-name-container {
      font-size: 1.2em;
    }

    .dropzone-container {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 60px;
      border: 1px dashed $gray;
    }

    .thumbs-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 16px;

      .thumb {
        display: inline-flex;
        box-sizing: border-box;
        width: 100px;
        height: 100px;
        margin-right: 8px;
        margin-bottom: 8px;
        padding: 4px;
        border: 1px solid $sub-color-light-gray;
        border-radius: 2px;

        .thumb-inner {
          display: flex;
          min-width: 0;
          overflow: hidden;

          img {
            display: block;
            width: auto;
            height: 100%;
          }
        }
      }
    }

    .list-of-images {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      padding: 0 0 20px;

      .image-box {
        position: relative;
        width: 100px;
        height: 100px;
        border: 1px solid $sub-color-light-gray;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;

        .delete-image-btn {
          position: absolute;
          top: 0;
          right: 0;
          width: 20px;
          height: 20px;
          padding: 0 3px 3px;
          border-top-left-radius: 0;
          border-top-right-radius: 1px;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          background: $red;
          color: $white;
          font-size: .8em;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }

  .delete-color-collumn {
    width: 200px;

    .delete-color-btn {
      width: 180px;
      padding: 8px 20px;
      border-color: $red;
      background-color: $red;
      font-size: .9em;

      &:hover {
        border-color: $red;
        background-color: $white;
        color: $red;
      }

      svg {
        margin-left: 10px;
      }
    }
  }
}
