@import '../../style/colors';

.product-details-page {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 80vw;
  margin: 0 auto;
  padding: 20px 50px;

  .product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .images-container {
    width: 500px;
    height: 500px;

    .product-main-image {
      width: 100%;
      height: 350px;
      margin-bottom: 5px;
      border: 1px solid $border-color-img;
      background-color: $white;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    .selected-color-image-container {
      display: flex;
      flex-direction: row;
      gap: 5px;
      height: 150px;

      .img-box {
        width: 50px;
        height: 50px;
        border: 1px solid $border-color-img;
        background-color: $white;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        cursor: pointer;
      }

      .img-box.selected {
        border: 1px solid $dark-slate-blue;
      }
    }
  }

  .product-info-container {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: space-between;
    height: 350px;
    padding: 0 20px;

    .product-title {
      font-size: 24px;
      font-weight: bold;
    }
  }

  .product-description-container {
    width: 100%;
  }
}
