@import '../../../style/variables';

.collection-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  margin-bottom: 10px;
  border: 1px solid $gray;
  border-radius: 5px;
  background-color: $white;
  
  .collection-cover {
    display: flex;
    align-items: center;
    width: 200px;
    height: 100px;
    padding: 2px 0px 2px 1px;

    .image-container {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  } 

  .collection-title {
    padding: 5px 30px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
}
