@import '../../../style/colors';

.address-box {
  width: 48%;
  padding: 0;
  border: 1px solid $user-profile-address-box-shadow;
  border-radius: 5px;
  box-shadow: $user-profile-address-box-shadow 0 1px 4px;

  .default-address-label {
    padding: 1px 20px 3px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: $user-profile-links-color;
    color: $white;
  }

  .address-data {
    position: relative;
    margin-right: 10px;
    padding: 0 20px;

    .address-title {
      padding-top: 20px;
    }

    .set-default-address-links {
      display: flex;
      gap: 10px;
      margin: 10px 0;

      span {
        color: $user-profile-links-color;
        font-size: 14px;
        text-decoration: underline;
        cursor: pointer; 
      }
    }

    .address-buttons {
      position: absolute;
      top: 15px;
      right: 0;

      .edit-button,
      .delete-button {
        display: flex;
        justify-content: center;
        width: 31px;
        height: 31px;
        border-radius: 50%;
        cursor: pointer;

        svg {
          width: 16px;
          height: 16px;
          color: $user-profile-links-color;
          vertical-align: middle;
        }
      }
    }
  }
}
