@import '../../../style/colors';

.statistics-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .orders-statistics-container,
  .top-3-products-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid $border-color-row;
    border-radius: 5px;
  }
}
