@import '../../style/variables';

$size-width: 100vw;
$size-height: 470px;

.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $size-width;
  height: $size-height;
  margin: 0 auto 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 25px 0 rgba($carousel-shadow, .2);
}

.carousel-container {
  width: $size-width;
  height: $size-height;
  margin: 0 auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  width: $size-width * 3;
  animation: sliding 12s infinite;

  div {
    width: $size-width;
    height: $size-height;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes sliding {
  30% {
    transform: translateX(0);
  }

  35% {
    transform: translateX(-$size-width);
  }

  65% {
    transform: translateX(-$size-width);
  }

  70% {
    transform: translateX(-$size-width * 2);
  }

  98% {
    transform: translateX(-$size-width * 2);
  }

  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  $size-width: 240px;
  $size-height: 150px;

  .carousel-wrapper {
    width: $size-width * 1.3;
    height: $size-height * 1.4;
  }

  .carousel-container {
    width: $size-width;
    height: $size-height;
  }

  .carousel {
    width: $size-width * 3;

    > div {
      width: $size-width;
      height: $size-height;
    }
  }

  @keyframes sliding {
    30% {
      transform: translateX(0);
    }

    35% {
      transform: translateX(-$size-width);
    }

    65% {
      transform: translateX(-$size-width);
    }

    70% {
      transform: translateX(-$size-width * 2);
    }

    98% {
      transform: translateX(-$size-width * 2);
    }

    100% {
      transform: translateX(0);
    }
  }
}